.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  background-color: #fff;
  color: #d3d3d3;
  max-width: 800px;
}

.row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}

.a, .b {
  background-color: steelblue;
  color: #fff !important;
  cursor: pointer;
}

div:nth-child(4) { grid-row-start: 2; }
div:nth-child(5) { grid-row-start: 3; }

.box {
  /* background-color: #d3d3d3; */
  color: #111;
  border: 1px solid #d3d3d3;
  padding: 20px;
  font-size: 18px;
}